Bienvenue dans PyQuizz.
Vous allez devoir choisir une catégorie correspondant à un style de musique. Le but du jeu est de faire appel à votre culture musicale et de deviner l'interprête et le nom du morceau !
Vous devrez choisir parmi une liste de morceaux celui que vous aurez reconnu. Si votre réponse est juste, vous marquerez un point. Si elle est fausse, vous ne marquerez pas de point.
Nous vous proposons dix titres par manche pour chaque catégorie. Votre note sur dix dépendra de l'étendue de vos connaissances musicales ! Concentrez-vous, c'est parti !
